:root{
}
$background-color:#F2F2F2;
$main-color: #F98517;
$main-color-soft: #F29829;
$second-color: #4BA6A6;
$second-color-dark: #027373;

// fonts
$main-font: Mak;
$second-font: Montserrat;
